body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us-container{
    display: block;
    text-align: start;
    padding: 4rem 0;
    
}

.about-us-container h2{
    font-size: 2rem;
    font-weight: 700;
    color: #1e3a8a;
    margin-left: 1.5rem;
    margin-bottom: 0;
}
.about-profile{
    display: flex;
    padding: 2rem 1.5rem;
    gap: 2rem;
} 

.about-profile-image{
    flex: 1;
}

.about-profile-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
}

.about-profile-text{
    flex: 1.5;

}

.about-profile-text h2{
    font-size: 2rem;
    font-weight: 700;
    color: #1e3a8a;
    margin-bottom: 1rem;
}

.about-management{
    margin-top: 2rem;
    background-color: #1e3a8a;
    padding: 1rem 0rem;
}

.about-management h2{
    font-size: 1.75rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
    padding: 0rem 1rem;
    text-align: center;
}

.management-text{
    text-align: center;
}

.management-grid{
    display: flex;
    gap: 2rem;
    padding: 2rem 2rem;
    justify-content: center;
}

.management-grid .management-card{
    max-width: 400px;
    background-color: #f3f4f6;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.management-icon{
    overflow: hidden;
    border-radius: 8px;
    border: none;
    height: 300px;
}

.management-grid .management-card .management-icon img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: all 0.3s ease-in-out;
}

.management-grid .management-card .management-icon img:hover{
    scale: 1.1;
}

.about-vision {
    padding: 4rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f3f4f6;
}


.about-vision h2{
    font-size: 2rem;
    font-weight: 700;
    color: #1e3a8a;
    margin-bottom: 1rem;
}

.about-vision p{
    font-size: 1rem;
    color: #1e3a8a;
}

.about-vision .medal{
    padding-left: 1.5rem;
}
/* 
.info-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0px;
    padding: 2rem 0rem;
}

.info-grid .info-card{
    flex: 1;
    padding: 2rem;
    background-color: #1e3a8a;
    color: white;
    margin: 1rem;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.info-card:hover{
    transform: translateY(-5px);
    background-color: #3b82f6;
}

.info-icon{
    
    padding-left: 1rem;
    padding-bottom: 0;
    
}

.info-card h2{
    padding: 0;
}



.info-card .card-titles {
    color: white;

} */
.go-green-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #f3f4f6;
  }
  
  .go-green-container {
    text-align: center;
  }
  
  .go-green-card {
    border:none; /* Green border */
    border-radius: 8px;
    padding: 20px;
    border-radius: 15px; /* Rounded corners */
    background-color: white; /* White background */
    display: inline-block;
    text-align: center;
    color: gold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: all 0.3s ease-in-out;
  }
  
  .go-green-card h1 {
    margin-top: 10px;
    font-size: 24px;
    color: #3b82f6;
  }
  
  .go-green-card p {
    margin-top: 20px;
    color: #3b82f6;
  }

  .go-green-container h2{
    font-size: 2rem;
    font-weight: 700;
    color: #1e3a8a;
    margin-bottom: 1rem;
  }

  .go-green-container p{
   
    color: #1e3a8a;
    margin-bottom: 1rem;
  }
  
    .go-green-card:hover{
        transform: translate(0, -5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
 

@media screen and (max-width: 768px){
    

    .about-profile{
        flex-direction: column;
    }

    .management-grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

