.button{
    background-color: white;
    color: #3b82f6;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-top: 20px;
}

.button:hover{
    background-color: #e0f2fe;
}