.marquee-container {
  padding-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin: 20px 20px;
    border: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
  }
  
  .marquee {
    display: flex;
    width: 200%; 
    animation: marquee 30s linear infinite;
    margin-top: 10px;
  }
  
  .marquee-content {
    display: flex;
    white-space: nowrap;
  }

  .marquee-item:hover{
    transform: translateY(-5px);
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    
  }
  
  .marquee-item {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .marquee-image {
    display: inline-block;
    vertical-align: middle;
    
  }
  
  .marquee-name {
    display: block;
    text-align: center;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-90%); } 
  }

  @media screen and (max-width: 768px) {
    .marquee-item {
      padding: 0 10px;
    }

    .marquee{
      display: flex;
      width: 200%; 
      animation: marquee 25s linear infinite;
    }

    @keyframes marquee {
      0% { transform: translateX(0); }
      100% { transform: translateX(-400%); } 
    }
    
  }
  