
.nav {
    background-color: #1e3a8a;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}


.logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    z-index: 20;
}

.nav-content .nav-sheet{
    display: none;
}

.nav-content .nav-sheet img{
    
}


.nav-links {
    display: flex;
    gap: 16px;
}

.nav-links a {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.nav-links a:hover {
    background-color: #2563eb;
}

@media screen and (max-width: 640px) {
    .nav-content {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .nav-links a {
        padding: 8px 0;
        width: 100%;
        text-align: center;
        display: none;
    }

    .nav-content span{
        display: none;
    }

    .nav-content .nav-sheet{
        display: block;
    }
    
}