/* work-carousel.css */

.parent-card-box {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 16px ;
  }
  
  .card-box {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on iOS devices */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    padding: 20px 0;
  }
  
  .card-box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .work-card {
    flex: 0 0 auto;
    width: 256px; /* Adjust based on your desired card width */
    margin-right: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
    background-color: white;
  }
  
  .work-card:last-child {
    margin-right: 0;
  }
  
  .work-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
  }
  
  .work-card-image {
    object-fit: cover;
    width: 100%;
    height: 16rem; /* Matches the h-48 class */
    border-radius: 0.375rem; /* matches rounded-md */
  }
  
  .work-type-text {
    margin-top: 0.5rem;
    font-weight: 600;
    color: #2563eb;
    text-align: center;
  }
  
  .work-carousel-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 9999px;
    padding: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 10;
  }
  
  .work-carousel-nav-button:hover {
    background-color: #f3f4f6;
    transform: translateY(-50%) scale(1.1);
  }
  
  .work-carousel-nav-button:first-child {
    left: 0.5rem;
  }
  
  .work-carousel-nav-button:last-child {
    right: 0.5rem;
  }
  
  /* Responsive adjustments */
  @media (max-width: 640px) {
    .work-card {
      width: 80%;
      max-width: 16rem;
    }
  }